[submodule "backend"]
	path = backend
	url = https://github.com/znt10/FechaCaixa-back
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/znt10/FechaCaixa-front
	branch = main
